---
import TextMono from '../components/UI/TextMono.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout description="Salut! Eu sunt Astro template!">
  <div class="w-screen grid place-items-center h-screen">
    <TextMono content="Eu sunt Astro template!" />
  </div>
</Layout>
