---
import Hero from '../components/Hero.astro'
import Introduction from '../components/Introduction.astro'
import Program from '../components/Program.astro'
import Artists from '../components/Artists.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout description="Salut! Eu sunt Astro template!">
  <main>
    <Hero />
    <Introduction />
    <Program />
    <Artists />
  </main>
</Layout>
