<section data-section="AREA" class="grid grid-cols-3 gap-5 mx-5 mt-5 sm:grid-cols-1 sm:mt-5 sm:h-auto">
  <img class="object-cover h-full border-2 aspect-square border-custom-pink" src="../../area/1.jpg" alt="" />
  <img class="object-cover h-full border-2 aspect-square border-custom-pink" src="../../area/2.jpg" alt="" />
  <img class="object-cover h-full border-2 aspect-square border-custom-pink" src="../../area/3.jpg" alt="" />
</section>
