<section data-section="AREA" class="grid grid-cols-3 sm:grid-cols-1 gap-5 mt-5 sm:mt-5 mx-5 sm:h-auto h-[50vh]">
  <img class="object-cover h-full border-2 border-custom-pink" src="../../area/1.jpg" alt="" />
  <img class="object-cover h-full border-2 border-custom-pink" src="../../area/2.jpg" alt="" />
  <img class="object-cover h-full border-2 border-custom-pink" src="../../area/3.jpg" alt="" />
</section>
