<section data-section="AREA" class="grid grid-cols-3 gap-5 mx-5 mt-5 sm:grid-cols-1 sm:mt-5">
  <div class="border-2 aspect-square border-custom-pink">
    <img class="object-cover w-full h-full" src="../../area/1.jpg" alt="" />
  </div>
  <div class="border-2 aspect-square border-custom-pink">
    <img class="object-cover w-full h-full" src="../../area/2.jpg" alt="" />
  </div>
  <div class="border-2 aspect-square border-custom-pink">
    <img class="object-cover w-full h-full" src="../../area/3.jpg" alt="" />
  </div>
</section>
