<section data-section="ARTISTS" class="flex flex-col gap-14 sm:gap-12 w-[80%] sm:w-[90%] sm:mt-[10vh] my-[15vh] mx-auto">
  <div class="flex flex-row sm:flex-col-reverse justify-between gap-5">
    <div class="self-center bg-black text-white text-justify uppercase sm:text-lg text-3xl tracking-tight p-5 sm:p-3 w-[45%] sm:w-[95%] mx-auto h-fit border-2 border-custom-pink"><span class="font-semibold tracking-normal text-custom-pink">Obladaet</span> — не просто представитель современной рэп-сцены. Его треки становятся хитами, а концерты — всегда запоминающийся перформанс, который хочется продлить. Те, кто давно хотел на лайв артиста, смогут услышать и увидеть его на открытии Графита.</div>
    <img class="object-cover mx-auto w-[35%] sm:w-[95%]" src="../../artists/obla.jpg" alt="" />
  </div>
  <div class="flex flex-row-reverse sm:flex-col-reverse justify-between gap-5">
    <div class="self-center bg-black text-white text-justify uppercase sm:text-lg text-3xl tracking-tight p-5 sm:p-3 w-[45%] sm:w-[95%] mx-auto h-fit border-2 border-custom-pink">Легенда хип-хопа и ролевая модель для сотен парней из нулевых. <span class="font-semibold tracking-normal text-custom-pink">Витя АК (АК-47)</span> создал один из главных коллективов в истории российской музыки. Свои, во всех смыслах, золотые хиты он начитает 24 ноября.</div>
    <img class="object-cover mx-auto w-[35%] sm:w-[95%]" src="../../artists/ak47.jpg" alt="" />
  </div>
  <div class="flex flex-row sm:flex-col-reverse justify-between gap-5">
    <div class="self-center bg-black text-white text-justify uppercase sm:text-lg text-3xl tracking-tight p-5 sm:p-3 w-[45%] sm:w-[95%] mx-auto h-fit border-2 border-custom-pink">За легкий танцевальный вайб и ностальгические нотки R&B отвечает <span class="font-semibold tracking-normal text-custom-pink">Dose</span>. Его музыка знакома многим как по сольным EP и синглам, так и по работе с многими артистами в качестве саунд-продюсера.</div>
    <img class="object-cover mx-auto w-[35%] sm:w-[95%]" src="../../artists/dose.jpg" alt="" />
  </div>
  <div class="flex flex-row-reverse sm:flex-col-reverse justify-between gap-5">
    <div class="self-center bg-black text-white text-justify uppercase sm:text-lg text-3xl tracking-tight p-5 sm:p-3 w-[45%] sm:w-[95%] mx-auto h-fit border-2 border-custom-pink"><span class="font-semibold tracking-normal text-custom-pink">Reptiloid</span>, пожалуй, сегодня один из главных диджеев столицы: хедлайнер больших ночных тусовок и электронных фестивалей. Его сеты — всегда доза адреналина прямо в сердце: моментальное воскрешение и заход на новый круг тусовки обеспечен.</div>
    <img class="object-cover mx-auto w-[35%] sm:w-[95%]" src="../../artists/reptilia.jpg" alt="" />
  </div>
</section>
