<div class="relative flex sm:flex-col mt-14 sm:mb-0 mb-20 gap-12 sm:gap-2 w-full h-[65vh] sm:h-auto">
  <div class="relative w-[50%] sm:w-[91%] sm:h-[50vh] my-5 mx-5">
    <div class="absolute inset-0">
      <iframe width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d667.5109377360774!2d37.75192152351856!3d55.754502880330065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414acaae97522c1f%3A0x1ef19367cef8e446!2z0K3Qu9C10LrRgtGA0L7QtNC90LDRjyDRg9C7LiwgMtGB0YIzMiwg0JzQvtGB0LrQstCwLCAxMTE1MjQ!5e0!3m2!1sru!2sru!4v1698024336071!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="self-center flex flex-col w-[50%] sm:w-[90%] sm:mr-0 mr-5 sm:mb-[12.5svh]">
    <div class="p-5 mx-auto text-3xl tracking-tight text-white uppercase bg-black border-2 sm:p-3 sm:text-lg h-fit border-custom-pink">
      <h1>Графит</h1>
      <h1>Ул. Электродная д. 2 ст. 32</h1>
      <div class="flex flex-col my-10 text-custom-pink">
        <a class="duration-200 hover:underline" href="https://graphite.moscow" target="_blank">graphite.moscow</a>
        <a class="duration-200 hover:underline" href="https://t.me/graphite_moscow" target="_blank">t.me/graphite_moscow</a>
        <a class="duration-200 hover:underline" href="https://vk.com/graphite.moscow" target="_blank">vk.com/graphite.moscow</a>
      </div>
      <a class="block p-3 tracking-tight text-white uppercase duration-200 bg-black border-2 w-fit hover:border-white border-custom-pink" href="https://widget.afisha.yandex.ru/w/sessions/ticketsteam-5811@12609742?clientKey=058374e2-3eea-4d37-ae2f-3e21651b7c56&regionId=213" target="_blank">Купить билет</a>
    </div>
  </div>
</div>
