---
import Button from './UI/Button.astro'
import RunningLine from './UI/RunningLine.astro'
import BackgroundImage from './UI/BackgroundImage.astro'

const heightScreen = '!h-[100svh] !h-[100vh]'
---

<section data-section="HERO" class=`relative flex flex-col overflow-hidden text-white ${heightScreen}`>
  <div class="flex flex-col justify-between h-full sm:mt-5 mt-6 xs:mb-[14vh] sm:mb-[1rem] xl:mb-[10.5rem] mb-[13rem]">
    <div class="sm:w-[90%] z-[5] w-[65%] flex justify-between mx-auto font-medium sm:text-xl xl:text-4xl text-5xl">
      <h2 class="px-2 py-1 border-2 bg-black border-custom-pink w-fit">24 НОЯБРЯ</h2>
      <h2 class="px-2 py-1 border-2 bg-black border-custom-pink w-fit">ГРАФИТ</h2>
    </div>
    <div class="text-xl font-medium z-[99]">
      <Button />
    </div>
  </div>
  <div class="sm:hidden absolute bottom-0 grid w-full h-screen z-[98] place-items-end">
    <RunningLine />
  </div>

  <div id="HERO_IMG" class="absolute inset-0 z-[6] xs:-mt-24 sm:-mt-14 xl:mt-14 grid w-screen h-screen overflow-hidden">
    <picture>
      <source class="-translate-x-5" media="(max-width: 767px)" srcset="../../bg/1080banner.png" />
      <img class="mt-12 xl:-mt-2 w-full object-cover" src="../../bg/1920banner.png" alt="" />
    </picture>
  </div>
  <img class="hidden sm:block absolute inset-0 object-cover w-full h-full -z-50" src="../../bg/1080banner_hero.jpg" alt="" />
  <BackgroundImage />
</section>

<style>
  @media screen (max-height: 1000px) {
    #HERO_IMG {
      opacity: 50%;
    }
  }
</style>
