---
import Button from './UI/Button.astro'
import BackgroundShape from './UI/BackgroundShape.astro'
---

<section data-section="PROGRAM" class="overflow-hidden relative sm:my-2 my-[1.25%] bg-black text-white flex items-center justify-center">
  <div class="z-10 sm:w-[90%] w-[80%] justify-end h-[90%] flex flex-col sm:py-8 py-24 sm:gap-3 text-justify uppercase tracking-tight">
    <div class="z-[99] gap-5 h-full flex flex-col sm:flex-col-reverse justify-between">
      <div class="w-fit">
        <Button btn_text="Купить билет" btn_link="https://widget.afisha.yandex.ru/w/sessions/ticketsteam-5811@12609742?clientKey=058374e2-3eea-4d37-ae2f-3e21651b7c56&regionId=213" />
      </div>
      <div class="sm:w-[85%] w-[80%]">
        <h2 class="p-3 text-6xl font-medium bg-black border-2 sm:text-xl xl:text-5xl sm:font-normal border-custom-pink w-fit">В программе открытия — игровые зоны, арт-инсталляции, лаунж, бесплатные фотобудки и многое другое</h2>
      </div>
    </div>
  </div>

  <img class="absolute inset-0 object-cover w-full h-full" src="../../bg/1080banner.jpg" />
  <BackgroundShape />
</section>
