---
import Button from './UI/Button.astro'
import BackgroundShape from './UI/BackgroundShape.astro'

const heightScreen = '!h-[100svh] !h-[100vh]'
---

<section data-section="PROGRAM" class=`overflow-hidden relative my-[1.25%] bg-black text-white sm:!h-auto flex items-center justify-center ${heightScreen}`>
  <div class="z-10 sm:w-[90%] w-[80%] justify-end mt-10 h-[90%] flex flex-col py-16 sm:gap-3 text-justify uppercase tracking-tight">
    <div class="z-[99] h-full flex flex-col sm:flex-col-reverse justify-between">
      <div class="w-fit sm:mt-[5vh]">
        <Button />
      </div>
      <div class="sm:w-[85%] w-[80%]">
        <h2 class="p-3 sm:text-xl xl:text-5xl text-6xl sm:font-normal font-medium bg-black border-2 border-custom-pink w-fit">В программе открытия — игровые зоны, арт-инсталляции, лаунж, бесплатные фотобудки и многое другое</h2>
      </div>
    </div>
  </div>

  <BackgroundShape />
</section>
