---
interface Props {
  btn_text: string
  btn_link: string
}

const {btn_text, btn_link} = Astro.props
const buttonHover = 'z-[7] ring-[2.5px] ring-custom-pink hover:ring-offset-[3px] ring-offset-black'
---

<a class=`BUTTON block w-fit xl:text-xl text-3xl h-fit mx-auto sm:px-4 sm:py-2 xl:px-3 xl:py-2 px-5 py-3 text-center sm:text-lg rounded-md text-white uppercase font-normal bg-black duration-300 ${buttonHover}` href={btn_link} target="_blank">{btn_text}</a>
