---
const buttonHover = 'duration-300 focus:bg-custom-pink hover:outline-none hover:ring-[2.5px] hover:ring-custom-pink hover:ring-offset-[3px] hover:ring-offset-black'
---

<a class=`block w-fit mx-auto sm:px-4 sm:py-2 px-5 py-3 text-center sm:text-lg rounded-md text-black uppercase font-medium bg-white ${buttonHover}` href="https://widget.afisha.yandex.ru/w/sessions/ticketsteam-5811@12609742?clientKey=058374e2-3eea-4d37-ae2f-3e21651b7c56&regionId=213" target="_blank">Купить билет</a>
